body{
    font-family: "Mulish", sans-serif;
}


.hide{
    display: none;
}


.backbutton:hover + .hide{
    display: block;
    color: black;

}

.btn{
    border: none;
}

.homestyle{
    display: flex;
}

aside{
    background-color: rgb(40, 92, 92);
    
 }

 .usernamecaption{
    font-style: italic;
    text-decoration: none;
 }


.menucaption{
    font-family: "Merienda", sans-serif;
    letter-spacing: 3px;

}

.card-title{
    font-weight: bold;
 }

 .asidecontent{
    font-size: 12px;
    font-weight: bold;
}

.profilecontent{
    margin-left: -30px;
}

.list-group{
    font-weight: bold;
}





@media screen and (min-width: 375px) and (max-width: 767px){

    header{
        overflow: scroll;
    }

    .texthide{
        font-size: 0;
    }

    .btn:hover + .texthide{
        font-size: x-small;
        display: block;
     }

     .signupbutton{
        
        font-size: 8px;

     }

     .btn{
        font-size: 8px;
     }

     h1{
        margin-top: 50px;
        margin-left: 120px;
        font-size: 20px;
     }

     h4{
        margin-top: 5px;
        margin-left: 60px;
        font-size: 10px;
     }
     .sidebar{
        display: none;
     }

     .menucaption{
        font-size: x-small;
     }

     .cakeimg{
        display: none;
     }

     .timer{
        font-size: x-small;
     }

     .recipemargin{
        margin-left: 30px;
        margin-top: -100px;
     }

     .namecaption{
        margin-left: -100px;
     }



 
    
     
   

}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .texthide{
        font-size: 0;
    }

    .btn:hover + .texthide{
        font-size: medium;
        display: block;
     }

    header{
        overflow: scroll;
    }

    .signupbutton{
        font-size: 10px;
    }

    h1{
        margin-top: 100px;
        margin-left: 200px;
    }

    h4{
        margin-left: 130px;
    }

    .number{
        display: none;

    }

    .asidecontent{
        display: none;
    }

    .sidebar{
        display: none;
    }

    
}

@media screen and (min-width: 950px) and (max-width: 1280px){
    h1{
        margin-left: 400px;
    }

    h4{
        margin-left: 350px;
    }

    .namecaption{

        margin-left: -50px;
    }

    .number{
        font-size: 10px;
    }

    .asidecontent{
        font-size: 10px;
    }
}

@media screen and (min-width: 1281px){
    h1{
        margin-left: 400px;
    }

    h4{
        margin-left: 350px;
    }

    .namecaption{

        margin-left: -90px;
    }
}



