body{
    font-family: "Mulish", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    
}

.hide{
    display: none;
}


.backbutton:hover + .hide{
    display: block;
    color: black;

}

